body { 
  background-color: "black";
}
#info {
  width: 640px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast; 
}
#framecounter {
  position: absolute; 
  font-size: 20px; 
  font-family: Cursive;
  color: cyan;
  visibility:hidden; /* See on selleks, et framecounter ei jääks noscripti teatisele ette. */
}
