body { 
  background-color: "black";
}
#info {
  width: 640px;
}
#framecounter {
  position: absolute; 
  font-size: 20px; 
  font-family: Cursive;
  color: cyan;
  visibility:hidden; /* See on selleks, et framecounter ei jääks noscripti teatisele ette. */
}
