body { 
  background-color: #000;
}
#info {
  width: 800px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast; 
}
#framecounter {
  position: absolute; 
  font-size: 20px; 
  font-family: Cursive;
  color: #00FFFF; /* cyan */
  visibility:hidden; /* See on selleks, et framecounter ei jääks noscripti teatisele ette. */
}
